body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-color: #F4F4F4;
}
a {
	color: #000000;
}
a:hover {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: none;
	color: #3ab54a;
}
ul,li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
input{
	border: none;
}
p{
	margin: 0;
}



.hn-top-header{
	font-size: 0.8rem;
	padding: 10px 0;
	background-color: #333333;
	color: #ffffff;
}
.hn-top-header a{
	color: #ffffff;
}
.hn-top-header a:hover {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	text-decoration: none;
	color: #A9FFB4;
}
.hn-top-header-left span{
	color: #A8A8A8;
}
.hn-top-header-left strong{
	color: #ffffff;
}
.hn-top-header-right .item-cart {
	padding: 0 15px;
	display: inline-block;
	background-color: #3ab54a;
	border-radius: 5px;
}
.hn-top-header-right .item-cart a{
	margin: 0;
}
.hn-top-header-right a	{
	margin-right: 10px;
}
.hn-top-header-right a:hover {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	text-decoration: none;
	color: #A9FFB4;
}






.hn-middle-header {
	padding: 10px 0;
	background: #F6F6F6;
}
.hn-middle-header .service-icon{
	font-size: 1.5rem;
	color: white;
	height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3ab54a;
}
.hn-middle-header .service-content{
	font-size: 0.9rem;
    font-weight: 600;
	height: 50px;
	padding-left: 55px;
    display: flex;
    align-items: center;
}
.hn-middle-header .service-content span{
	color: #f48549;
}



.hn-nav-header{
	background-color: #3ab54a;
}
.hn-nav-header nav ul li{
	display: inline-block;
	margin: 0;
}
.hn-nav-header nav ul li a{
	color: white;
	padding: 15px 10px;
	display: inline-block;
	border-right: 1px solid #6bc676;
}
.hn-nav-header nav ul li a:hover{
	background: #2D7D38;
	color: white;
}

.nav-header-search input{
	border: none;
	height: 40px;
	padding: 0 20px;
}
.nav-header-search button{
	border-radius: 0;

    vertical-align: unset;
	color: white;
	border: none;
	height: 40px;
	background: #138823;
}


[class*="hn-section-"] {
	margin-bottom: 20px;
}
.hn-section-2 .banner {
	text-align: center;
}
.hn-section-2 .banner img{
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.side-bar{
	background-color: #ffffff;
	margin-bottom: 20px;
}
.side-bar .side-bar-title{
	font-weight: 700;
	background-color: #3AB54A;
	height: 40px;
	text-align: center;
}
.side-bar .side-bar-title span{
	font-weight: 700;
	color: white;
	line-height: 40px;
}

.side-bar .side-bar-list{
	padding:10px;
}
.side-bar .side-bar-list ul li{
	padding: 5px 10px;
	    position: relative;
}
.side-bar .side-bar-list ul li a{
	color: #575454;
	font-weight: 500;
}
.side-bar .side-bar-list ul li i{
	position: absolute;
	right: 5%;
}

.side-bar .side-bar-list ul li:hover>a{
	    color: #2D7D38;
}

.side-bar .side-bar-list ul li:hover >ul {
	    display: block;
}

.side-bar .side-bar-list ul li ul{
	
}
.side-bar .side-bar-list ul li ul {

    position: absolute;
    width: 100%;
    left: 100%;
    background: #fff;
    padding: 10px;
    top: -10px;
    border: 1px solid #ccc;
    z-index: 999;
    display: none;
}














.product-box-title{
	height: 40px;
	border-bottom: 3px solid #00C01A;
	margin-bottom: 20px;
}
.product-box-title h4{
	color: #3ab54a;
	font-weight: 700;
	line-height: 40px;
}

.product-box-title-nav{
	height: 40px;
}

.product-box-title-nav ul{
	height: 40px;
	display: inline-block;
	margin: 0;
}
.product-box-title-nav ul li{
	height: 40px;
	display: inline-block;
	margin: 0;
}

.product-box-title-nav ul li:hover{
	border-bottom: 3px solid #2D7D38;
}
.product-box-title-nav ul li:hover a{
	color: #3ab54a;
}
.product-box-title-nav ul li a{
	font-weight: 500;
	line-height: 38px;
	padding: 0 5px;
}
.product-box-title-nav .active{
	border-bottom: 2px solid #2D7D38;
}
.product-box-title-nav .active a{
	color: #3ab54a;
}
.product-box-slide .product-item{
	position: relative;
	margin-bottom: 20px;
	background-color: #ffffff;
	padding: 15px;
	transition: all 0.5s;
}
.product-box-slide .product-item .item-button-wrap{
	display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(500%);
    transition: all 0.3s linear;
}
.product-box-slide .product-item:hover{
	transform: scale(1.05);
}
.product-box-slide .product-item:hover .item-button-wrap {
	transition: all 0.3s linear;
	transform: translateY(350%);
    visibility: visible;
  	opacity: 1;
}
.product-box-slide .product-item .item-button-wrap .item-button:hover{
	transition: background 0.5s;
       background: #2D7D38;
}
.product-box-slide .product-item .item-button-wrap .item-button{
   	background-color: #3AB54A;
   	color: white;
   	padding: 10px 5px;
   	margin: 0 5px;
}
.product-box-slide .product-item .sale{
    height: 30px;
    right: 0;
    top: 0;
    position: absolute;
    background-color: #3AB54A;
    width: 50px;
}
.product-box-slide .product-item .sale span{
    color: white;
    line-height: 30px;
}
.product-box-slide .product-item .item-thumb{
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}
.product-box-slide .product-item .item-title{
	margin: 20px 0;
}
.product-box-slide .product-item .item-star{
	color: #FFD200;
	font-size: 0.8rem;
}
.product-box-slide .product-item .item-price .special-price{
	color: #3ab54a;
}
.product-box-slide .product-item .item-price .old-price{
	text-decoration: line-through;
    font-size: 1em;
    display: inline-block;
    color: #adadad;
}


.newsletter{
	background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(http://adastraerrans.com/wp-content/uploads/2018/10/perky-colours-shaped-s-abc-wallpaper-full-hd-design-home-interior-kitchen-design.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 50px 0;
	color: white;
}
.newsletter .newsletter-title h3{
	font-weight: bold;
}
.newsletter .newsletter-title h3 span{
	color: #3AB54A;
}
.newsletter-text{
	margin-bottom: 20px;
}

.newsletter .newsletter-form input{
	height: 40px;
	padding: 0 20px;
}
.newsletter .newsletter-form button{
	background-color: #3ab54a;
	height: 40px;
	padding: 0 20px;
	border: none;
	color: white;
}



.review{
	background-image:;
	background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(https://atgbcentral.com/data/out/184/5611637-home-wallpaper.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 50px 0;
	color: white;
}
.review-slide{
	max-width: 700px;
	margin: 0 auto;
}
	.review-box{
		margin-bottom: 20px;
	}
	.review-box .review-avartar{
		margin-right: 10px;
	}
	.review-box .review-avartar img{
		height: 100px;
		width: 100px;
	}
	.review-box .review-info{
		text-align: left;
	}
	.review-box .review-info h4{

    text-transform: uppercase;
		font-weight: bold;
		color: white;
	}


.news-box-item{
	position: relative;
}
.news-content{
	padding: 10px;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	width: 100%;
	color: white;
	height: 100%;
    transform: translateY(80%);
    transition: all 0.3s linear;
}

.news-box-item:hover .news-content{
    transform: translateY(0);
    transition: all 0.3s linear;
}

.news-content-title a{

	color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    display: block;
}
.news-content-title{
	margin-bottom: 20px;
	border-bottom: 2px solid white;
}
.news-content-text p{
}
.news-content-text p{
	max-height: 140px;
	margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-content-text button{
	background: white;
	color: black;
	border: none;
	padding: 10px;
}


.partner{
	height: 70px;
	width: 175px;
}

.big-map{
	position: relative;
}
.big-map > .container{
	position: absolute;
	top: 0;
}
@media screen and (max-width: 600px) {
  .big-map > .container{
	position: unset;
	width: 100%;
}  
.big-map  .map-form{
	color: white;
	margin-top: 0;
	top: 0;
	right: 0;
	position: unset;
	background-color: #3AB54A;
	padding: 20px;
}

}
.map-form{
	color: white;
	margin-top: 100px;
	top: 0;
	right: 0;
	position: absolute;
	background-color: #3AB54A;
	padding: 20px;
}
.map-form-title {
	margin-bottom: 20px;
	padding-left: 50px; margin-bottom: 20px;

}
.map-form-title h4{
	font-weight: bold;
	    font-style: italic;
	
}
.map-form-item {
	margin-bottom: 20px;
}
.map-form-item p {
	line-height: 40px;
}
.map-form-content .map-form-icon{
	margin-right: 10px;
	height: 45px;
	width: 45px;
	text-align: center;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
}